<div class="container">
<h1> Password Generator</h1>
<form>
<div class="field">
  <label>Enter Length</label>
  <input class="form-control" (input)="onChangeLength($event.target.value)"/>
</div>
  

<div>
  
  <label>Use Letters &nbsp;</label> 
  <input (change)="onChangeLetters()" type="checkbox"/>
  
</div>
<div>
  <label>Use Numbers &nbsp;</label>
  <input (change)="onChangeNumbers()" type="checkbox"/>
</div>
<div>
  <label>Use Symbols &nbsp;</label>
  <input (change)="onChangeSymbols()" type="checkbox"/>
</div>
<div>
  <button class="btn btn-primary" type="button" (click)="OnButtonClick()"
  [disabled]="!(length &&(IncludeLetters||IncludeSymbols||IncludeNumbers))">Generate</button>
</div>
<div *ngIf="password">
  <label>Your Password:</label>
  <input class="form-control" [value]="password"/>
</div>
</form>
</div>
